.product {
  display: grid;
  grid-template-columns: minmax(auto, 650px) auto;
  grid-gap: 2.5rem;
  padding: 2rem 4rem;
}

.product .carousel .slide {
  background: none;
}

.product .carousel .carousel-status {
  color: black;
  text-shadow: none;
  font-size: 12px;
}

.product .carousel .control-dots .dot {
  background: black;
  box-shadow: none;
}

.product .carousel .slide img {
  object-fit: contain;
  height: 350px;
}

.product .carousel .thumb {
  width: 50px !important;
}

.product .control-dots {
  display: none;
}

.product__image {
  background-color: white;
  border-radius: 1rem;
  text-align: center;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__infoTitle {
  font-size: 1.7rem;
}

.product__infoDescription {
  font-size: 0.89rem;
  opacity: 0.7;
  margin-top: 0.5rem;
  text-align: justify;
  height: 170px;
  overflow-y: auto;
  padding-right: 10px;
}

.product__infoPrice {
  font-size: 1.7rem;
  font-weight: 600;
}

.product__infoStock {
  color: var(--green);
  font-weight: 500;
  font-size: 0.8rem;
}

.product__infoQuantity .MuiInputBase-input {
  width: 100px;
}

.product__infoButton {
  color: white;
  font-weight: 600;
  background-color: var(--green);
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__infoButton:hover,
.product__infoButton:active {
  background-color: #029e75;
}

.Btn-disabled {
  color: darkgray;
  background-color: lightgray;
  cursor: not-allowed;
}

.Btn-disabled:hover,
.Btn-disabled:active {
  background-color: lightgray;
}

@media (max-width: 992px) {
  .product {
    padding: 1rem 2rem;
  }
}

@media (max-width: 764px) {
  .product {
    grid-template-columns: 200px auto;
  }
}

@media (max-width: 624px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .product__infoDescription {
    height: 100%;
  }
  .product__infoPrice,
  .product__infoStock,
  .product__infoButton {
    margin-top: 1rem;
  }
}

@media (max-width: 576px) {
  .product {
    padding: 0.5rem 1rem;
  }
}
