.cart__itemsList {
  margin: 0 5em;
}

.cart__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.cart__itemLeft img {
  width: 400px;
}

.cart__itemRight {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cart__itemRightQty {
  display: flex;
}
