.cart__header {
  margin-bottom: 3rem;
}

.cart__content {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 50px;
}

.cart__contentCheckout {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  height: 400px;
}

.cart__contentCheckoutTotal {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.cart__contentCheckout button {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: white;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.7rem;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.cart__contentCheckout button:hover,
.cart__contentCheckout button:active {
  background-color: white;
  color: var(--green);
}

.cart__empty {
  text-align: center;
}

@media (max-width: 992px) {
  .cart__content {
    padding: 0 2rem;
    grid-gap: 20px;
  }
}

@media (max-width: 940px) {
  .cart__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .cart__contentCheckout {
    height: 100%;
    margin-bottom: 0rem;
    background-color: white;
    padding: 1rem;
  }

  .cart__contentCheckout button {
    margin-top: 0.7rem;
    width: 200px;
    align-self: flex-end;
  }
}

@media (max-width: 530px) {
  .cart__header a:hover span,
  .cart__header a:active span {
    margin-left: 2px;
  }
}

@media (max-width: 500px) {
  .cart__content {
    padding: 0 10px;
  }
}

@media (max-width: 460px) {
  .cart__header {
    padding-top: 0;
    flex-direction: column-reverse;
  }
  .cart__header h2 {
    align-self: flex-start;
    margin-top: 10px;
  }
  .cart__header a {
    align-self: flex-end;
  }
}
