.product {
  display: grid;
  grid-template-columns: 650px auto;
  grid-gap: 2.5rem;
  height: 500px;
}

.product .carousel .slide {
  background: none;
}

.product .carousel .carousel-status {
  color: black;
  text-shadow: none;
  font-size: 12px;
}

.product .carousel .control-dots .dot {
  background: black;
  box-shadow: none;
}

.product .carousel .slide img {
  width: 400px;
}

.product__image {
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 1rem;
  text-align: center;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__infoTitle {
  font-size: 1.7rem;
}

.product__infoDescription {
  font-size: 0.7rem;
  opacity: 0.5;
  margin-top: 0.5rem;
  text-align: justify;
  height: 280px;
  overflow-y: scroll;
  padding-right: 0.4rem;
}

.product__infoPrice {
  font-size: 1.7rem;
  font-weight: 600;
}

.product__infoStock {
  color: var(--green);
  font-weight: 500;
  font-size: 0.8rem;
}

.product__infoQuantity .MuiInputBase-input {
  width: 100px;
}

.product__infoButton {
  color: white;
  font-weight: 600;
  background-color: var(--green);
  border: none;
  border-radius: 1rem;
  padding: 0.6rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__infoButton:hover,
.product__infoButton:active {
  background-color: #029e75;
}

.Btn-disabled {
  color: darkgray;
  background-color: lightgray;
  cursor: not-allowed;
}

.Btn-disabled:hover,
.Btn-disabled:active {
  background-color: lightgray;
}
