.cart {
  width: 600px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: white;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  padding: 0.5rem;
  transition: right 1s ease;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart h2 {
  font-weight: 500;
}

.cart__empty {
  text-align: center;
}

.cart .MuiTableContainer-root {
  max-height: 470px;
  overflow-y: scroll;
}

.cart__item {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.cart__item a {
  color: black;
  text-decoration: none;
}

.cart__item a:hover,
.cart__item a:active {
  text-decoration: underline;
}

.cart__itemImg {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__item img {
  margin: 7px auto;
}

.cart__itemTitle a {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-line-clamp: 2 !important;
  line-height: 1.4rem !important;
  max-height: 2.8rem !important;
  display: block;
}

.cart__itemRight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.cart__actions {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  right: 7px;
}

.cart__actions button {
  border: none;
  padding: 0 20px;
  height: 40px;
  border-radius: 7px;
  font-weight: 500;
}

.cart__actions button:disabled {
  background-color: lightgray;
  color: gray;
  cursor: not-allowed;
}

.cart__deleteIcon {
  opacity: 0.4;
  cursor: pointer;
}

.cart__deleteIcon:hover,
.cart__deleteIcon:active {
  opacity: 0.9;
}

.cart__actionsCheckout {
  background-color: var(--green);
  color: white;
  cursor: pointer;
}

.cart__actionsCheckout:hover,
.cart__actionsCheckout:active {
  background-color: #029e75;
}

.cart__actionsClose {
  color: gray;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
}

.cart__actionsClose:hover,
.cart__actionsClose:active {
  text-decoration: underline;
}

.cart__closed {
  right: -620px;
}

.cart__opened {
  right: 0;
}

.Mui-checked {
  color: var(--green) !important;
}

.MuiTableCell-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.MuiTableCell-head {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.cart__itemQtySelector {
  height: 30px;
  width: 60px;
  font-size: 0.85rem !important;
}

.cart__itemQtySelector:active {
  border-color: black;
}

.cart__itemQtyValue {
  font-size: 0.85rem !important;
}

@media (max-width: 600px) {
  .cart {
    width: 96vw;
  }
}
