.cart {
  width: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.cart .cart__item {
  padding-top: 0;
  padding-bottom: 0;
}

.cart .cart__item:nth-of-type(2n + 1) {
  background-color: rgb(245, 245, 245);
}

.cart .cart__buttonContainer {
  margin-top: 8px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
}
