.cartItem {
  display: grid;
  grid-template-columns: 150px 8fr 2fr 2fr 1fr;
  align-items: center;
  background-color: var(--gray);
  padding: 1rem 0 1rem 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.cartItem__image {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50px;
  position: relative;
}

.cartItem img {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartItem__quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cartItem__quantity input {
  -moz-appearance: textfield;
  border: none;
  font-size: 1.1rem;
  font-weight: 400;
  width: 40px;
  background-color: var(--gray);
}

.cartItem__quantityModify {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}
.cartItem__quantityModify span {
  background-color: var(--green);
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.cartItem__quantityModify span:first-child {
  margin-bottom: 10px;
}

.cartItem__quantityModify span p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.cartItem__delete {
  font-size: 1.4rem;
  cursor: pointer;
}
