.item {
}
.item__img {
  background-color: var(--gray);
  border-radius: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}

.item__img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
  cursor: pointer;
  height: 250px;
  width: 200px;
}

.item__name {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.item__name a {
  color: black;
  text-decoration: none;
}

.item__name a:hover,
.item__name a:active {
  color: var(--green);
}

.item__buy {
  display: flex;
  justify-content: space-between;
}

.item__price {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.item__buyBtn {
  background-color: rgba(1, 198, 146, 0.1);
  color: var(--green);
  box-shadow: none;
  border: none;
  border-radius: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  font-weight: 500;
}

.item__buyBtn:hover,
.item__buyBtn:active {
  background-color: var(--green);
  color: white;
}
