.navbar {
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  padding: 20px 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin-bottom: 2rem;
}

.navbar__up {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 a {
  color: var(--green);
  text-decoration: none;
}

.navbar__ShoppingIcon {
  font-size: 30px !important;
  cursor: pointer;
}

.navbar__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__rightSearch {
  display: flex;
  align-items: center;
  background-color: var(--gray);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  width: 120px;
  position: relative;
  overflow: hidden;
  transition: width 0.5s;
}

.navbar__rightSearch:focus-within {
  width: 300px;
}

.navbar__rightSearch input {
  border: none;
  background-color: var(--gray);
  border-radius: 1rem;
  width: 98%;
  padding-left: 1rem;
}

.navbar__rightSearch input::placeholder {
  color: gray;
}

.navbar__rightSearch .MuiSvgIcon-root {
  position: absolute;
  left: 7px;
  color: gray;
}

.navbar__responsiveSearch {
  display: none;
  align-items: center;
  background-color: var(--gray);
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  width: 90%;
  position: relative;
  overflow: hidden;
  margin-top: 0.7rem;
}

.navbar__responsiveSearch input {
  border: none;
  background-color: var(--gray);
  border-radius: 1rem;
  width: 98%;
  padding-left: 1rem;
}

.navbar__responsiveSearch input::placeholder {
  color: gray;
}

.navbar__responsiveSearch .MuiSvgIcon-root {
  position: absolute;
  left: 7px;
  color: gray;
}

.navbar__rightAccount {
  margin: 0 1rem;
  cursor: pointer;
}

.showSearchBar {
  display: block;
}

/* Media Query */
@media (min-width: 610px) {
  .showSearchBar {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 20px 2rem;
  }
}

@media (max-width: 700px) {
  .navbar__rightSearch:focus-within {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .navbar__rightSearch {
    display: block;
    background-color: white;
    border-radius: none;
    padding: 0;
    width: 100%;
    overflow: unset;
    cursor: pointer;
  }
  .navbar__rightSearch input {
    display: none;
  }
  .navbar__rightSearch .MuiSvgIcon-root {
    color: black;
    position: relative;
  }
}

@media (max-width: 576px) {
  .navbar {
    padding: 20px 1rem;
  }
}
