@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --green: #01c692;
  --gray: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 2rem;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.app__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
