@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --green: #01c692;
  --gray: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(252, 252, 252);
}

.app__container {
  padding: 0 4rem;
}

.app__itemsHeader {
  margin: 2.5rem 0 1.5rem 0;
}

.app__itemsHeader h2::after {
  content: '';
  display: block;
  width: 3rem;
  height: 5px;
  background-color: var(--green);
}

.app__carousel .carousel {
  border-radius: 1rem;
}

.app__carousel img {
  height: 400px;
  object-fit: cover;
}

.dot {
  background: var(--green) !important;
  box-shadow: none !important;
  border: 1px solid white;
}

.app__items .sc-ifAKCX button {
  height: 60%;
  color: var(--green);
  font-weight: 600;
  font-size: 2rem;
  border-radius: 0.3rem;
  padding: 0 5x;
  border: 1px solid rgba(2, 51, 130, 0.08);
  box-shadow: 0 3px 6px 0 rgba(2, 51, 130, 0.08);
  background-color: white;
  cursor: pointer;
}

.app__items .sc-ifAKCX button:hover,
.app__items .sc-ifAKCX button:active {
  background-color: rgba(0, 68, 179, 0.03);
}

.app__items .kaHnvc {
  margin-left: -10px;
  cursor: auto;
}

.app__items .dFFQiB {
  margin-right: -10px;
  cursor: auto;
}
